@font-face {
  font-family: 'MainFont';
  src: url('https://cdn.jsdelivr.net/npm/dejavu-fonts-ttf@2.37/ttf/DejaVuSans.ttf');
  font-weight: 300;
  font-style: normal;
}

.settings-content{
    background: #3d3d3d;
    width: 750px;
    height: 950px;
    border-radius: 25px;
    margin-right: auto;
}

.page-container{
    width: 100%;
    display: grid;
    height: 100%;
    justify-items: center;
    grid-template-columns: 4fr 8fr;
}

.buttons-container{
    display:flex;
    flex-direction: column;
    gap: 55px;
    height: 70%;
}

.settings-button{
    margin-right: 55px;
    margin-left: 35px;
    width: 280px;
    height: 50px;
    background: #545454;
    color: #e6e6e6;
    border-radius: 5px;
    border: none;
    font-size: 25px;
    font-weight: bold;
    font-family: 'MainFont', sans-serif;
    box-shadow: 0 2px 3px #343333;
}

.settings-button:hover{
    background: #545454;
}

.settings-button:active{
    background: #4772b3;
}

.settings-page-list{
    margin-left: auto;
    margin-right: 10px;
    width: 150px;
    margin-top: 10px;
}

.page-choose-button{
    text-align: left;
    padding-left: 5px;
    margin-bottom: 1px;
    background: #545454;
    color: #bcbcbc;
    border: none;
    width: 150px;
    height: 35px;
}

.page-choose-button:hover{
    background: #656565;
}

.page-choose-button:active{
    background: #4772b3;
}

#last{
border-radius: 0 0 10px 10px;
}

#first{
border-radius: 10px 10px 0 0;
}

.button-description{
    color: #e6e6e6;
    font-size: 25px;
    font-weight: bold;
    display: flex;
    align-items: center;
    user-select: none;
    font-family: 'MainFont', sans-serif;
    margin-left: auto;
}

.description-and-button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 55px;
    margin-right: 0px !important;
    margin-left: 0px !important;
}