* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0 !important;
  padding: 0 !important;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(90deg,#181818,#171717);

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  outline: none;
}

body {
  overflow-x: hidden;
}

.main-content {
  width: 100%;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}